{% extends 'base.html' %}

{% block title %}Notícia Detalhada{% endblock %}

{% block content %}
<style>
    .lupa-icone {
        z-index: 10;
        cursor: pointer;
    }

    .form-control:focus {
        outline: none;
        box-shadow: none;
        border-color: #86b7fe;
    }

    .cardnoticias {
        margin-top: 25px;
    }
</style>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-top: 10px;"
    class="d-flex justify-content-center" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Início</a></li>
        <li class="breadcrumb-item active" aria-current="page">Detalhes</li>
    </ol>
</nav>
<h1 class="text-center" style="margin-top: 20px;">Detalhes</h1>


<div class="col-md-8 mx-auto"> <!-- Adicionei mx-auto aqui para centralizar a coluna -->
    <div class="input-group mb-3" style="position: relative;">
        <div class="card cardnoticias mx-auto"> <!-- Removi a classe mx-auto da card -->
            <div class="row g-0">
                <div class="card">
                    <img class="card-img-top" src="{{ news.image.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">
                            <strong>Data da Publicação:</strong> {{ news.date_publication }}<br>
                            <strong>Fonte:</strong> {{ news.source }}<br><br>

                            {{ news.description }}<br><br>

                            <strong>Dúvidas?</strong><br>
                            Caso tenha dúvidas entre em contato com a Central de Atendimento da EEAR pelo
                            telefone (XX) XXXX-XXXX ou pelo email atendimento@eear.gov.br.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}