{% extends 'base.html' %}

{% block title %}Notícias{% endblock %}

{% block content %}

<style>
    .card-title {
    font-family: "Open Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 800 !important;
    font-style: normal;
    font-variation-settings:
      "wdth" 100 !important;
  }
  .thin-line {
    border-top: 0.5px solid black; /* Define uma espessura menor */
}

.thin-line-03 {
    border-top: 0.2px solid black; /* Define uma espessura menor */
}

.cardnoticias {
    max-width: 95%; margin-top: 10px; margin-bottom: 10px; border: none;
    max-height: 100%;
}

.cardnoticias-full{
    max-width: 80%; margin-top: 20px; margin-bottom: 15px; border: none;
    max-height: 100%;
}

.lupa-icone {
    z-index: 10;
    cursor: pointer;
}
  

.form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: #86b7fe;
}

/* Garantir que o ícone da lupa tenha o cursor "pointer" */
.lupa-icone {
  z-index: 10;
  cursor: pointer; /* Transforma o cursor em "dedinho" ao passar sobre a lupa */
}

/* Para o input ao focar */
.form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #86b7fe;
}

/* CSS global para garantir que o conteúdo ocupe toda a altura */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #ffffff;
  }
  
  .container-fluid {
    flex-grow: 1;
  }
  
  /* Estilização do footer */
  footer {
    background-color: #203e95;
    color: white;
    width: 100%;
  }

</style>

<div class="col-md-12 mx-auto">
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;); margin-top: 10px;"
        class="d-flex justify-content-center" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Início</a></li>
            <li class="breadcrumb-item active" aria-current="page">Notícias</li>
        </ol>
    </nav>

    <div class="row" style="margin-top: 25px;">
        <div class="col-md-8 mx-auto">
            <div class="input-group mb-3 col-md-3" style="position: relative;">
                <!-- Campo de entrada de texto -->
                <input type="text" class="form-control" placeholder="Digite o título da notícia"
                    aria-label="Text input with segmented dropdown button" style="padding-right: 40px;">

                <!-- Ícone de lupa posicionado no canto direito -->
                <i class="bi bi-search lupa-icone"
                    style="position: absolute; right: 100px; top: 50%; transform: translateY(-50%); font-size: 18px; cursor: pointer;"></i>

                <!-- Botão dropdown "Action" -->
                <button class="btn btn-outline-secondary dropdown-toggle"
                    style="border-color: #e9e6e6; border-left: none;" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Filtros <!-- Texto do botão -->
                </button>

                <!-- Menu do dropdown -->
                <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="semresultadonoticia.html">Ano do Exame</a></li>
                    <li><a class="dropdown-item" href="semresultadonoticia.html">Tipo de Notícia</a></li>
                    <li><a class="dropdown-item" href="semresultadonoticia.html">Tipo de Curso</a></li>
            </div>
            {% if news %}
                {% for noticia in news %}
                    <div class="card col-md-12 mx-auto" style="margin-top: 25px; border: none;">
                        <div class="card mx-auto cardnoticias-full">
                            <div class="row g-0">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h3 class="card-title"><a href="#" class="link-underline-light link-dark">{{ noticia.title }}</a></h3>
                                        <p class="card-text">{{ noticia.description }}</p>
                                        <p class="card-text"><small class="text-body-secondary">{{ noticia.date_publication }}</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="card col-md-12 mx-auto" style="margin-top: 25px; border: none;">
                    <div class="card mx-auto cardnoticias-full">
                        <p class="h5">Nenhum resultado encontrado</p>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-12 d-flex justify-content-center" style="margin-top: 5px;">
            <nav aria-label="Page navigation example" class="mx-auto">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">Voltar</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">5</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">6</a></li>
                    <li class="page-item"><a class="page-link" style="color: #212529bf;" href="#">Próximo</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}